@import './components/thNote/thNote.css';
@import './components/trNote/trNote.css';
@import './components/trEditNote/trEditNote.css';

@import './components/thNoteSummary/thNoteSummary.css';
@import './components/trNoteSummary/trNoteSummary.css';

@import './views/NewNoteAddPopUp/NewNoteAddPopUp.css';
@import './views/NotesTable/NotesTable.css';
@import './views/NewNoteAddButton/NewNoteAddButton.css';
@import './views/NotesTableSummary/NotesTableSummary.css';

@import './components/categoriesSelector/categoriesSelector.css';

body {
    margin: 0px;
    padding: 0px;
}

.rootApp {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2.5% 5%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 150px; /* Ширина подсказки */
    right: 1.5em; top: 0; /* Положение подсказки */
    background: #1f1f1f;/*#3989c9;*/ /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 0em; /* Положение подсказки */
}



